@import './variables.scss';

.round-end-dialog {
  background: white;
  padding: 30px 40px;;
  border-radius: 10px;
  max-width: 600px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;

  h2 {
    color: $primary-color;
  }

  button {
    border: none;
    border-radius: 5px;
    background: $secondary-color;
    padding: 10px 12px 8px 12px;
    margin-top: 30px;
    color: white;
    font-weight: 400;
    align-self: flex-end;

    &:hover {
      background: $blue;
    }
  }
}

.card-area {
  display: flex;
  justify-content: space-between;
  margin: 0px 15px;

  article {
    flex: 1;
  }
}

.third-column {
  padding: 20px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button {
    font-size: 16px;
    color: gray;
    text-decoration: underline;
    border: none;

    &:hover {
      color: rgb(177, 52, 52);
    }
  }
}

.progress-area {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 200px;
  color: gray;

  p {
    width: 125px;
    z-index: 2;
    text-align: center;
  }

  span {
    font-weight: 600;
    color: $primary-color;
  }
}

.progress-chart {
  width: 150px;
  height: 150px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  background: rgb(230, 230, 230) linear-gradient(to right, rgb(230, 230, 230) 50%, $secondary-color 50%);
  color: $secondary-color;
  border-radius: 50%;
  
  
  @keyframes spin {
    to {
      transform: rotate(180deg);
    }
  }
  
  @keyframes background {
    50% {
      background-color: currentColor;
    }
  }
  
  &::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: white;
    border-radius: 50%;
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    background-color: inherit;
    height: 100%;
    width: 50%;
    bottom: 0;
    right: 0;
    border-radius: 0 100% 100% 0 / 50%;
    transform: rotate(0);
    transform-origin: 0 50%;
    animation: 50s spin infinite linear,
               100s background infinite step-end;
    animation-play-state: paused;
    animation-delay: inherit;
  }
}

@media only screen and (max-width:1215px) { 
 .card-area {
   flex-wrap: wrap;
 }
}

@media only screen and (max-width:725px) {
  .card-area {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .guess-area,
  .card,
  .progress.area {
    display: block;
    margin: 30px 0!important;
  }

  .progress-area {
    position: relative;
    width: 100%;
    bottom: 10px;
    margin: auto;
    margin-left: 35px;
  }
}

