@import './variables.scss';

.guess-area {
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  label {
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 26px;
  }

  .guess-entry {
    display: flex;
  }

  .single-guess-input {
    padding-left: 10px;
    font-size: 18px;
    height: 40px;
    width: 220px;
    border-radius: 5px 0px 0px 5px;
    outline-color: $secondary-color;
    cursor: pointer;
  }

  .single-guess-btn {
    border-radius: 0px 5px 5px 0px;
    height: 40px;
    width: 40px;
    border: none;
    background: $secondary-color;
    cursor: pointer;
    outline-color: $secondary-color;

    &:hover,
    &:focus {
      background: $blue;
    }

    &:disabled {
      background: lightgray;
    }

    .fa-arrow-right {
      color: white;
      font-size: 20px;
    }
  }

  .guess-response {
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;

    p {
      padding-top: 3px;
    }

    .fas {
      margin-right: 10px;
    }
    
    .fa-check {
      font-size: 26px;
      color: rgb(65, 160, 65);
    }

    .fa-times {
      font-size: 30px;
      color: rgb(186, 52, 52);
    }
  }
}

.guess-choices {
  display: flex;
  flex-direction: column;
}

.choice {
  padding: 15px 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background: $secondary-color;
  font-size: 18px;
  font-weight: 400;
  color: white;
  width: 250px;

  &:hover {
    background: $blue;
  }
}

.invisible {
  visibility: hidden;
}

@media only screen and (max-width:725px) {
  .guess-response {
    width: 250px;
  }
}