@import './variables.scss';


.home-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-options {
  flex: 2;
}

.home-option {
  max-width: 600px;
  border: 1px solid rgba(131, 131, 131, 0.475);
  border-radius: 5px;
  margin: 15px 0px;
  padding: 15px;
  cursor: pointer;

  p {
    font-size: 18px;
  }

  &:hover {
    h3 {
      color: $blue;
    }
    border-color: $blue;
  }
}

.home-link {
  text-decoration: none;
}

.home-option-heading {
  font-size: 20px;
}

.home-image-area {
  flex: 1.2;
}

.home-image {
  height: 400px;
  opacity: .6;
}