@import './variables.scss';

.resources-link {
  margin: 20px 0px;
  color: $primary-color;
  font-family: 'Open sans', sans-serif;
  font-size: 18px;
  display: block;
  display: list-item;          
  list-style-type: disc;       
  list-style-position: inside;
  padding-left: 10px;
  
  &:hover {
    color: $blue;
  }
}

.resources-heading {
  margin-top: 40px;
  margin-bottom: 20px;
}