@import './variables.scss';

h2 {
  color: $blue;
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

h3 {
  color: $secondary-color;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 12px;
}

aside {
  min-height: calc(100vh - 70px);
}

.instructions {
  width: 96%;
  padding-left: 2px;
  font-size: 20px;
  line-height: 1.3;
  color: rgb(65, 65, 65);
  padding-bottom: 10px;
}

.hidden {
  display: none;
}