@import 'variables.scss';

.new-card-link {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  color: $secondary-color;
  font-weight: 400;

  &:hover {
    color: $blue;
  }
}

#new-card-btn {
  border: none;
  border-radius: 100%;
  font-size: 22px;
  padding-bottom: 5px;
  color: $secondary-color;

  &:hover {
    color: $blue;
  }
}

.my-card-list {
  display: flex;
  flex-wrap: wrap;

  form,
  .card {
    margin: 0px 20px 40px 20px;
  }
}

.top-line {
  margin-bottom: 10px;
}

.notes {
  font-style: italic;
  color: rgba(60, 60, 60, 0.66);
  font-size: 17px;
}

