@import './variables.scss';

.mode-option {
  width: 80%;
  max-width: 600px;
  border: 1px solid rgba(131, 131, 131, 0.475);
  border-radius: 5px;
  margin: 15px 0px;
  padding: 15px;
  cursor: pointer;

  p {
    font-size: 18px;
  }

  &:hover {
    h3 {
      color: $blue;
    }
    border-color: $blue;
  }
}