$primary-color: #41af79;
$secondary-color: #5fc492;
$highlight-color: #95e1bb;
$blue: #61dafb;
$dark-gray: rgb(69, 72, 69);
$page-left-width: 15%;
$page-right-width: 85%;
$pie-main: hsl(168, 76%, 42%);
$pie-text: #7F8C8D;
$pie-shadow: #BDC3C7;